<a target="_blank" rel="noopener noreferrer" href="{{ object.inha_url }}{{ object.text }}" class="object-url">
<div class="card">
    <div class="card-header">
        Vente du {{ object.sale.date.strftime("%d-%m-%Y") }}
    </div>
    <div class="card-body">
        {% if parent_sections %}
        {% if parent_sections.1 %}
        <h4 class="card-title">{{ parent_sections.1.text }}</h4>
        {% endif %}
        {% if parent_sections.0 %}
        <h5 class="card-title">{{ parent_sections.0.text }}</h5>
        {% endif %}
        {% endif %}
        <div class="card-text" style="white-space: pre-wrap;">{{ object.text }}</div>
    </div>
</div>
</a>
