{% extends "layout.html" %}
{% block content %}
<div class="container-fluid">
    <div class="row mt-4">
        <div class="col">
        </div>
        <div class="col-6">
            <h1 class="text-center display-4" id="title">Auction Catalog Segmentation</h1>
            <h2 class="text-center">Description générale</h2>
            <p class="text-justify">
                Auction Catalog Segmentation (Aucase) est un projet réalisé par Raphaël Barman à <a href="https://inha.fr">l'Institut national d'histoire de l'art (INHA)</a> lors d'un stage dans le cadre de sa maîtrise en Humanités Digitales à <a href="https://epfl.ch"> l'École polytechnique fédérale de Lausanne (EPFL)</a>.
            </p>

                <p class="text-justify">
                L'objectif du projet était d'utiliser la numérisation des catalogues de ventes aux enchères appartenant à l'INHA afin de créer une base de données des ventes d'objets avec leurs métadonnées, ceci à travers un processus de segmentation des images par apprentissage profond.
            </p>
            <p class="text-justify">
                Le projet a réussi à extraire de 1911 catalogues de vente aux enchères publiés par la maison Drouot entre le 1er janvier 1939 et le 31 décembre 1945 plus de 300'000 objets réalisés par plus de 5'000 artistes mise en vente dans des enchères supervisées par plus de 200 commissaires-priseurs et experts. Le code utilisé pour l'extraction est disponible en ligne sur <a href="https://github.com/raphaelBarman/aucase-inha">Github</a>.
            </p>
            <h2 class="text-center">Limites de la base de donnée</h2>
            <h3 class="text-center">Limite de l'extraction</h3>
            <p class="text-justify">
                La base de données a été alimentée par un procédé automatique d'extraction depuis les images et la reconnaisance optique de charactères. Ce procédé étant automatique, il y a inévitablement des erreurs dans la base de donnée. Ces erreurs n'ont pas été quantifiées de manière quantitative dans le cadre de ce projet, mais les résultats semblement qualitativement bons. Il n'est toutefois pas impossible que des résultats soient manquants et leur absence dans l'interface de recherche ne garanti pas qu'ils ne soient pas présents dans les catalogues mêmes.
            </p>
            <h3 class="text-center">Limite du corpus</h3>
            <h2 class="text-center">Description de l'interface de recherche</h2>
            <p class="text-justify">
            </p>

        </div>
        <div class="col">
        </div>
    </div>
</div>
{% endblock %}
