{% extends "layout.html" %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <nav class="col-md-3 sidebar">
            <div class="sidebar-sticky">
                <form>
                    <label for="sectionsearch">Recherche</label>
                    <div class="form-group mb-3">
                        <label for="sectioncategorysearch" class="text-muted">Texte des catégories</label>
                        <div id="sectionsearch" class="input-group mb-2">
                            <input id="sectioncategorysearch" class="form-control" type="text" placeholder="Rechercher...">
                            <div class="input-group-append input-group-addon">
                                <span class="input-group-text"><i class="fa fa-search" aria-hidden="true"></i></span>
                            </div>
                        </div>
                        <label for="sectionauthorsearch" class="text-muted">Texte des auteurs/écoles</label>
                        <div class="input-group mb-2">
                            <input id="sectionauthorsearch" class="form-control" type="text" placeholder="Rechercher...">
                            <div class="input-group-append input-group-addon">
                                <span class="input-group-text"><i class="fa fa-search" aria-hidden="true"></i></span>
                            </div>
                        </div>
                    <label for="objectsearch" class="text-muted">Texte des objets</label>
                        <div class="input-group">
                            <input id="objectsearch" class="form-control" type="search" placeholder="Rechercher...">
                            <div class="input-group-append input-group-addon">
                                <span class="input-group-text"><i class="fa fa-search" aria-hidden="true"></i></span>
                            </div>
                    </div>
                    </div>
                    <div class="form-group mb-3">
                        <label for="datetimepicker1">Période</label>
                        <div class="input-group mb-2 date" data-provide="datepicker" id="datetimepicker1">
                            <input type="text" class="form-control" placeholder="Date de début">
                            <div class="input-group-append input-group-addon">
                                <span class="input-group-text"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                            </div>
                        </div>
                        <div class="input-group date" data-provide="datepicker" id="datetimepicker2">
                            <input type="text" class="form-control" placeholder="Date de fin">
                            <div class="input-group-append input-group-addon">
                                <span class="input-group-text"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                            </div>
                        </div>
                    </div>
                    <label for="actors">Acteurs</label>
                    <div id="actors" class="form-group mb-3">
                        <label for="expertsdropdown" class="text-muted">Expert</label>
                        <select id="expertsdropdown" class="form-control mb-2" multiple data-live-search="true" data-live-search-normalize="true" data-selected-text-format="count > 2" multiple data-actions-box="true" data-width="100%">
                        </select>
                        <label for="commissairesdropdown" class="text-muted">Commissaire-priseur</label>
                        <select id="commissairesdropdown" class="form-control" multiple data-live-search="true" data-live-search-normalize="true" data-selected-text-format="count > 2" multiple data-actions-box="true" data-width="100%">
                             </select>
                    </div>
                </form>
            </div>
        </nav>
        <div class="col" id="resultspage">
            <div id="results-spinner" class="spinner-grow" role="status"><span class="sr-only">Loading...</span></div>
            <div class="row">
                <div class="col-12 ml-">
                    <div class="row justify-content-between mt-3">
                        <div class="col-4">
                            <div class="search-header">
                                <select id="sortorder" class="selectpicker">
                                         <option value="none">Pertinence</option>
                                         <option value="date">Date</option>
                                     </select>
                            </div>
                        </div>
                        <div class="col-4 my-auto">
                            <div id="resultsCount" class="results-objects"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="justify-content-center mt-4">
                <div id="no-results" class="results-objects" style="display: none;">Aucun objet trouvé</div>
                <div id="resultspages-top"></div>
                <div id="resultcontainer" name="resultcontainer">
                </div>
                <div id="resultspages-bottom" class="mt-4"></div>
            </div>
        </div>
    </div>
</div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-throttle-debounce/1.1/jquery.ba-throttle-debounce.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js" integrity="sha256-tW5LzEC7QjhG0CiAvxlseMTs2qJS7u3DRPauDjFJ3zo=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/locales/bootstrap-datepicker.fr.min.js" integrity="sha256-IRibTuqtDv2uUUN/0iTrhnrvvygNczxRRAbPgCbs+LE=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.11/js/bootstrap-select.min.js" integrity="sha256-49+cFFN14Ib7A61zjYlhc4UnmbAPQ0uImp4Sj4JO8TU=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.11/js/i18n/defaults-fr_FR.min.js" integrity="sha256-8EtPGfbAXbzClfIE9JRq/34+WrDG6w52MWwK+JS+CsI=" crossorigin="anonymous"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.simplePagination.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/aucase.js') }}"></script>
{% endblock %}
